/* #container {
        position: relative;
        width: 400px;
        
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
} */

#snakeBoard {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

#score {
        position: absolute;
        width: 400px;
        top: 120px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;       
        font-size: 100px;
        color: black;
}


.form {
        position: absolute;
        /* width: 400px; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
}

#button{
        position: absolute;
        left: 170px;
        top: 60px;
}

.gameOver {
        position: absolute;
        top: 700px;
        left: 50%;
        transform: translate(-50%, 0);
}
#table {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
}



